<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbn.mapper.BlogMapper">
    

    <select id="deletedBlogs" resultType="com.cbn.entity.Blog">
    select * from m_blog where deleted = 1
    </select>
    <update id="recoveryById" >
        update m_blog set deleted=0 where id=#{id}
    </update>
</mapper>
